{{!< withoutsubscribe}}

<main id="gh-main" class="gh-main">
        <div class="gh-content gh-canvas">
            <h3>About me</h3>
            <div class="gh-content gh-canvas">
                <p>I’m Manu Varghese, (currently) based in Montreal, Canada.<br>
                {{!-- <p>I grew up in India and lived around continents mostly for work. Over the years, I played various roles around consulting,  product management & technology.</p> --}}
                My career mostly revolved around technology & banking / fintech. Over the years, I had the opportunity to collaborate & learn from my colleagues at Greenstream Networks, Morgan Stanley, HSBC , Royal Bank of Scotland and Infosys Ltd.</p>
                <p>My interests are ever changing - but the one's that kept through years are payments, fintech, personal finance, travel, computer geekery & a bit of legalese.</p>
            </div>
{{!--             <h1 class="gh-article-title">Blog & Newsletter</h1>
            <div class="gh-content gh-canvas">
                <p>I had a hard time figuring out what my blog / newsletter will be - but I coudln't figure it out till date. </p>
                <p>Sometimes I write about stuff here, but more often I don't to be honest.</p>
                <p></p>
                <p></p>
            </div> --}}
            <h3>Contact me</h3>
            <div class="gh-content gh-canvas">
                <p>Twitter : iManuVarghese</p>
                <p>Email : hi[at]thisdomain</p>
            </div>
            <h3>Schedule a meeting</h3>
            <div >
                  <iframe class="gh-content gh-canvas" style="height: 700px;box-sizing: border-box;"src="https://app.cal.com/manuvarghese/15min" frameborder="0" allowfullscreen></iframe>
            </div>     
        </div>
</main>