{{!< withoutsubscribe}}

<main id="gh-main" class="gh-main">
        <div class="gh-content gh-canvas">
             <header class="gh-article-header gh-canvas">
            {{!-- <h1 class="gh-article-title">Consulting</h1> --}}
            </header>
                <div class="gh-content gh-canvas">
                  <h3>Award Booking Service</h3>
                  <p></p>
                  <p><strong>Round Trip </strong>- $150 + $75 per each additional passenger*</p>
                  <p><strong>Multi City Trips</strong> - $200 + $125 per each additional passenger* &nbsp;(upto 3 stops)</p>
                  <p><strong>Round The World / Complex Trips - </strong>$250 per passenger*^</p>
                  <p style="font-size:1.5rem"><em>* A non refundable inititation fee of &nbsp;$50 / passenger (capped to $100 / booking) is to be paid upfront.
                           This will be credited towards final total if availability is found.</em> <br>
                           <em>^ Complex Trips includes but not limited to - Nested itineraries involving more than one airline program, trips with more than 4 stops, Optimized BA Multicarrier itineraries etc. </em>
                 </p>

                  <p style="font-size:1.6rem"><u>Disclaimer</u><br>
                  I am not acting as your travel agent and no travel product is sold on this site. I don't earn commissions related to any travel bookings. Only expert award-travel itinerary planning &amp; related consulting is provided. </p>
                
                  <h4>Common Questions</h4>
                  <details>
                        <summary>Will I be required to pay the fees if you don't find the award routing that i want?</summary>
                        No. If we do not find an award that meets the terms we agree in the beginning of our communication, then you do not have to pay the closing fee.
                        But if we find an award that meets your requirements, you must pay the complete fee even if you change your mind and decide not to book. 
                  </details>

                  <details>
                        <summary>What is the $50 Initiation fee?</summary>
                        A non refundable fee of $50/passenger is charged to compensate for the effort of the search, which is labor intensive. As award inventory changes constantly in popular routes - we cannot guarantee award availability for every request. 
                   </details>
                   
                  <details>
                        <summary>How many points do I need for my dream vacation?</summary>
                        This is a very tricky question as it depends on so many variables like what point currencies do you have, your destination, preference for airlines, and the class of service you want to travel in. 
                        Having said that, I will be able to provide a relatively accurate estimate once the exact requirements are provided. 
                   </details>
                   
{{!--                   <details>
                        <summary>What is the $50 Initiation fee?</summary>
                        A non refundable fee of $50/passenger is charged to pay for the effort of the search, which is labor intensive. As award inventory changes constantly in popular routes - we cannot guarantee award availability for every request. 
                   </details>
                   
                  <details>
                        <summary>What is the $50 Initiation fee?</summary>
                        A non refundable fee of $50/passenger is charged to pay for the effort of the search, which is labor intensive. As award inventory changes constantly in popular routes - we cannot guarantee award availability for every request. 
                   </details> --}}
   <hr>
                <h3>Credit Card / Loyalty Rewards Consulting </h3>
                <p>
                    <ul>
                        <li>Strategize and develop a <strong>credit card roadmap</strong> to achieve your travel / financial goals.</li>
                        <li>Curate your credit card portfolio based on your personal situations &amp; objectives. </li>
                        <li>Learn how to optimize points earnings and understand basic or complex redemptions across various Airline / Hotel loyalty programs. </li>
                    </ul>
                    <p>Fees : Billed at $150/hr</p>
                </p>
                  <h4>Common Questions</h4>
                  <details>
                        <summary>How many hours does it take for me to get started?</summary>
                        It's a tricky question as it depends on so many variables like your personal financial situation, aspirations & objectives from this hobby. etc. In short, most clients are on their feet within 2 hrs. 
                  </details>

                  <details>
                        <summary>How can I pay</summary>
                        Your credit card will be charged for 1st hour when you book the consultation. Any additional duration will be billed at the end.  
                   </details>
                   
                  </div>
        </div>
</main>